
.c-service__title{
    text-align: center;
    font-size: 15px;
    color: #dd2476;
}
.c-service__subtittle{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.c-service__cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


/* CARDS*/
.box-seo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.c-cards{
    margin-bottom: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
    height: 340px;
    width: 18rem;
    box-shadow: 0px 5px 12px -6px;
}
.c-cards-image{
    margin-top: 10px;
    margin-bottom: 15px;
    max-width: 40%;
}
.c-cards-title{
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.c-cards-text{
    color: #555;
    text-align: center;
    font-size: 14px;
}
.text-menos{
    color: #555;
}
.business-text{
    display: flex;
}

@media (min-width:768px) and (max-width:991.98px){
    .c-cards{
        width: 17rem;
    }

}